.family{
  border: 2px solid black;
  margin: 1rem;
  padding: 1rem;
}

.parent{
  border: 2px solid violet;
  margin: 1rem;
  padding: 1rem;
}

.child{
  border: 2px solid indianred;
  margin: 1rem;
  padding: 1rem;
}

.grandDaughter{
  border: 2px solid burlywood;
  margin: 1rem;
  padding: 1rem;
}

.grandSon{
  border: 2px solid greenyellow;
  margin: 1rem;
  padding: 1rem;
}

.family_context{
  border: 2px solid black;
  margin: 1rem;
  /* padding: 1rem; */
}

.parent_context{
  border: 2px solid violet;
  margin: 1rem;
  /* padding: 1rem; */
}

.child_context{
  border: 2px solid indianred;
  margin: 1rem;
  /* padding: 1rem; */
}

.grandDaughter_context{
  border: 2px solid burlywood;
  margin: 1rem;
  /* padding: 1rem; */
}

.grandSon_context{
  border: 2px solid greenyellow;
  margin: 1rem;
  /* padding: 1rem; */
}